@font-face {
    font-family: 'SourceHanSansBold';
    src: url('../font/SourceHanSans-Medium.eot');
    src:
      url('../font/SourceHanSans-Medium.eot?#font-spider') format('embedded-opentype'),
      url('../font/SourceHanSans-Medium.eot') format('woff2'),
      url('../font/SourceHanSans-Medium.eot') format('woff'),
      url('../font/SourceHanSans-Medium.eot') format('truetype'),
      url('../font/SourceHanSans-Medium.eot') format('svg');
    font-weight: normal;
    font-style: normal;
  }